<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <div class="nav-link" @onclick="ToggleSnakeSubmenu" @onclick:stopPropagation="true" style="cursor: pointer;">
                <span class="bi bi-controller" aria-hidden="true"></span> Snake Game
                <span class="@SnakeSubmenuIcon" style="float: right;"></span>
            </div>
            @if (showSnakeSubmenu)
            {
                <div class="submenu">
                    <NavLink class="nav-link submenu-item" href="snake">
                        All Levels
                    </NavLink>
                    <NavLink class="nav-link submenu-item" href="snake/1">
                        Level 1
                    </NavLink>
                    <NavLink class="nav-link submenu-item" href="snake/2">
                        Level 2
                    </NavLink>
                    <NavLink class="nav-link submenu-item" href="snake/3">
                        Level 3
                    </NavLink>
                    <NavLink class="nav-link submenu-item" href="snake/4">
                        Level 4
                    </NavLink>
                    <NavLink class="nav-link submenu-item" href="snake/custom">
                        Custom
                    </NavLink>
                </div>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool showSnakeSubmenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string SnakeSubmenuIcon => showSnakeSubmenu ? "bi bi-chevron-up" : "bi bi-chevron-down";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSnakeSubmenu()
    {
        showSnakeSubmenu = !showSnakeSubmenu;
    }
}